* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Guardia";
    src: url("/fonts/Guardia-Regular.ttf");
}

@font-face {
    font-family: "Kubos";
    src: url("./fonts/kubos-regular.otf");
}
/* Variables for the color pallete */
:root {
    --font-family: "Montserrat", sans-serif;
    --gym-font-family: "Guardia", sans-serif;
    --color-1: #463F3A;
    --color-2: #8A817C;
    --color-3: #BCB8B1;
    --color-4: #F4F3EE;
    --color-5: #E0AFA0;
    --gym-color-1: #344e41;
    --gym-color-2: #3a5a40;
    --gym-color-3: #588157;
    --gym-color-4: #a3b18a;
    --gym-color-5: #dad7cd;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

a:visited {
    color: black;
}

a:hover {
    cursor: pointer;
    color: var(--color-3);
}

a {
    text-decoration: none;
    color: black;
}
/* Navigation bar at the top */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-wrap: nowrap;
    justify-content: center;
    height: 40px;
    width: 100%;
    min-width: 300px;
    background: grey;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(10px);
    font-family: var(--font-family);
    font-size: .75rem;
    z-index: 999;
}

#navlinks {
    padding: 0px;
}

#navlinks ul {
    list-style-type: none;
    padding: 0;
}

#navlinks li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

/* @media (max-width: 600px) {
    .navbar {
        height: 40px;
        font-size: .75rem;
    }
} */

/* Home page : name */
#home {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: var(--color-5)
}

#home > #home-title {
    font-family: var(--font-family), sans-serif;
    font-size: 4rem;
    text-wrap: nowrap;
    font-weight: 800;
    align-self: center;
}

/* @media (max-width: 600px) {
    #home > #home-title {
        font-size: 3rem;
    }
} */

@media (max-width: 1070px) {
    #home > #home-title {
        font-size: 3rem;
    }
}

@media (max-width: 745px) {
    #home > #home-title {
        font-size: 2rem;
    }
}

/* About page: talking about myself */
#about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: var(--color-4);
    color: var(--color-3);
    padding: 20px;
}

#about section {
    width: 100%;
    min-width: 500px;
    max-width: 800px;
}

#about #about-title {
    font-size: 4rem;
    color: var(--color-2);
    font-family: var(--font-family);
}

#about p {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

#randomButton {
    max-width: 125px;
    padding: 12px 24px;
    background-color: white;
    color: var(--color-2);
    border: white 1px solid;
    border-radius: 50px;
    text-decoration: none;
    font-family: var(--font-family), sans-serif;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

#randomButton:hover {
    background-color: var(--color-3);
    border: var(--color-3) 1px solid;
    color: white;
}

.randomPage {
    width: 100%;
    height: 100vh;
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.randomPage h1 {
    font-size: 4rem;
    font-family: var(--font-family);
    color: var(--color-4);
    align-self: center;
}

.randomPage #randomButton {
    margin: 10px auto;
}

/* @media (max-width: 600px) {

    #about #about-title {
        font-size: 3rem;
    }

    #about p {
        font-size: 1.5rem;
    }

    #about section {
        width: 100%;
        min-width: 300px;
    }
    
    .randomPage h1{
        font-size: 3rem;
    }
} */

/* Gym page: title */

.gymHome {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: var(--gym-color-4);
    color: var(--gym-color-1);
}

#gymHome-title {
    font-family: var(--gym-font-family);
    font-size: 10rem;
    align-self: center;
}

@media (max-width: 1070px) {

    #gymHome-title {
        font-size: 7rem;
    }

}

@media (max-width: 745px) {

    #gymHome-title {
        font-size: 5rem;
    }

}

.gymAbout {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    background-color: var(--gym-color-3);
    color: var(--gym-color-2);
    margin: 0;
    padding: 20px 0 0 0;
}

#gymAbout-title {
    font-size: 5rem;
    padding-right: 20px;
    color: var(--gym-color-4);
    font-family: var(--gym-font-family);
    margin: 0;
}

#gymAbout-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gymAbout section {
    width: 100%;
    min-width: 500px;
    max-width: 800px;
    margin-left: auto;
    padding-right: 20px;
    text-align: left;
}

.gymAbout p {
    font-family: "Kubos", sans-serif;
    color: var(--gym-color-2);
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 50px;
}

#gymAbout-logo {
    margin: 0;
    text-align: left;
    font-size: 25rem;
    margin-left: 50px;
}

@media (max-width: 1070px) {

    #gymAbout-title {
        font-size: 4rem;
    }

    .gymAbout p {
        font-size: 1.5rem;
    }

    .gymAbout section {
        padding-right: 10px;
        padding-left: 10px;
    }

}

@media (max-width: 745px) {

    #gymAbout-title {
        font-size: 3rem;
    }

    .gymAbout p {
        font-size: 1.25rem;
    }

}

.gymPersonalRecord {
    width: 100%;
    height: 100vh;
    background-color: var(--gym-color-2);
    margin: 0;
    padding: 10px;
}

.gymPersonalRecord h3 {
    text-align: center;
    font-size: 5rem;
    font-family: var(--gym-font-family);
    color: var(--gym-color-3);
    text-decoration: underline;
}

.gymPersonalRecord-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-family: "Kubos";
}

#workout {
    margin: 0;
}

#workout-title {
    margin: 0;
}

#workout p {
    color: var(--gym-color-5);
}

@media (max-width: 1425px) {

    .gymPersonalRecord {
        height: auto;
    }

    #workout p {
        margin-bottom: 50px;
    }

}

@media (max-width: 1070px) {

    .gymPersonalRecord h3 {
        font-size: 3.5rem;
    }

    #workout-title {
        font-size: 1rem;
        margin: 0;
    }

    #workout p {
        font-size: .75rem;
    }

}

@media (max-width: 745px) {

    .gymPersonalRecord h3 {
        font-size: 3rem;
    }

    .gymAbout p {
        font-size: 1.25rem;
    }

}

.gymRoutine {
    width: 100%;
    height: auto;
    background-color: var(--gym-color-1);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#routine-title {
    font-size: 5rem;
    font-family: var(--gym-font-family);
    color: var(--gym-color-4);
}

.gymRoutine-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 15px;
    max-width: 1400px;
    gap: 10px;
    width: 100%;
}

#dayRoutine {
    width: 350px;
    height: 400px;
}

#dayRoutine p {
    font-family: "Kubos", sans-serif;

}

#day {
    text-decoration: underline;
    font-size: 2rem;
    font-family: "Kubos", sans-serif;
}

#bodyGroup {
    font-family: "Kubos", sans-serif;
    color: var(--gym-color-5);
}

#dayRoutine ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

#dayRoutine p {
    color: var(--gym-color-3);
    font-size: 1rem;
}

@media (max-width: 1070px) {

    #routine-title {
        font-size: 3.5rem;
    }

    #day {
        font-size: 1.5rem;
    }

    #dayRoutine p {
        color: var(--gym-color-3);
        font-size: .75rem;
    }

    #dayRoutine {
        height: 300px;
    }

}

@media only screen and (max-width: 1400px) {
    #gymAbout-logo {
        display: none;
    }
}

@media only screen and (max-width: 1070px) {

    #about #about-title {
        font-size: 3rem;
    }

    #about p {
        font-size: 1.5rem;
    }

    #about section {
        width: 100%;
        min-width: 250px;
    }
    
    .randomPage h1{
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 745px) {

    #about #about-title {
        font-size: 2rem;
    }

    #about p {
        font-size: 1rem;
    }

    #about section {
        width: 100%;
        min-width: 250px;
    }
    
    .randomPage h1{
        font-size: 1rem;
    }

}

/* Project page: projects*/
#projects {
    width: 100%;
    height: auto;
    color: var(--color-4);
    padding: 10px;
    background-color: var(--color-3);
    font-family: var(--font-family);
}

#projects h3, #projects h4, #projects p {
    text-align: center;
    color: var(--color-2);
}

#projects > h3 {
    font-size: 4rem;
}

#projects > h4 {
    font-size: 2rem;
}

#projects p {
    font-size: 1rem;
}

.projectsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 1400px;
    background-color: var(--color-3);
    color: var(--color-4);
    padding: 20px 10px;
    margin: 0 auto;
    font-family: var(--font-family);
}

#projects img {
    width: 100%;
    max-width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 1px 5px 10px var(--color-1);
    transition: all 0.5s ease;
}

#projects img:hover {
    transform: scale(1.025);
    box-shadow: 2px 8px 10px var(--color-1);
}

@media (max-width: 1070px) {

    #projects h3, #projects h4 {
        font-size: 3rem;
    }

}

@media (max-width: 745px) {

    #projects h3, #projects h4 {
        font-size: 2rem;
    }

}

/* Contact page: contacts*/
#contacts {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-1);
}

#contacts h4 {
    font-family: var(--font-family), sans-serif;
    font-size: 4rem;
    text-align: center;
    color: var(--color-2);
}

#contactLogo {
    font-size: 3rem;
    padding: 10px;
    color: var(--color-2);
}

#contacts ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    
}

#contacts li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

#contacts a:hover {
    color: var(--color-3);
}

@media (max-width: 600px) {
    
    #contacts h4 {
        font-size: 1.5rem;
    }

}
