* {
    box-sizing: border-box;
}

/* Variables for the color palette */
:root {
    --font-family: "Montserrat", sans-serif;
    --gym-font-family: "Guardia", sans-serif;
    --color-1: #463F3A;
    --color-2: #8A817C;
    --color-3: #BCB8B1;
    --color-4: #F4F3EE;
    --color-5: #E0AFA0;
    --gym-color-1: #344e41;
    --gym-color-2: #3a5a40;
    --gym-color-3: #588157;
    --gym-color-4: #a3b18a;
    --gym-color-5: #dad7cd;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

a:visited {
    color: black;
}

a:hover {
    cursor: pointer;
    color: var(--color-3);
}

a {
    text-decoration: none;
    color: black;
}
/* Navigation bar at the top */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-wrap: nowrap;
    justify-content: center;
    height: 40px;
    width: 100%;
    min-width: 300px;
    background: grey;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(10px);
    font-family: var(--font-family);
    font-size: .75rem;
    z-index: 999;
}

#navlinks {
    padding: 0px;
}

#navlinks ul {
    list-style-type: none;
    padding: 0;
}

#navlinks li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

/* Home page : name */
#home {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: var(--color-5)
}

#home > #home-title {
    font-family: var(--font-family), sans-serif;
    font-size: 4rem;
    text-wrap: nowrap;
    font-weight: 800;
    align-self: center;
}

@media (max-width: 1070px) {
    #home > #home-title {
        font-size: 3rem;
    }
}

@media (max-width: 745px) {
    #home > #home-title {
        font-size: 2rem;
    }
}

/* About page: talking about myself */

#photome {
    width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 10%;
    margin-right: 35px;
    filter: brightness(1.1);
}

.photoofme {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: var(--color-4);
    color: var(--color-3);
    padding: 20px;
}

#about section {
    width: 100%;
    min-width: 500px;
    margin-right: 10px;
}

#about #about-title {
    font-size: 4rem;
    color: var(--color-2);
    font-family: var(--font-family);
}

#about p {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

#about-buttons {
    display: flex;
    flex-direction: row;
}

#about-buttons #randomButton {
    margin: 10px;
}

#randomButton {
    max-width: 125px;
    padding: 12px 24px;
    background-color: white;
    color: var(--color-2);
    border: white 1px solid;
    border-radius: 50px;
    text-decoration: none;
    font-family: var(--font-family), sans-serif;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

#randomButton:hover {
    background-color: var(--color-3);
    border: var(--color-3) 1px solid;
    color: white;
}

.randomPage {
    width: 100%;
    height: 100vh;
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.randomPage h1 {
    font-size: 4rem;
    font-family: var(--font-family);
    color: var(--color-4);
    align-self: center;
}

.randomPage #randomButton {
    margin: 10px auto;
}

@media (max-width: 1300px) {

    #photome {
        margin-right: 0;
    }

}

@media (max-width: 800px) {

    .photoofme {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #photome {
        width: 300px;
        height: 300px;
    }

    #about-buttons {
        justify-content: center;
    }
}

@media only screen and (max-width: 1070px) {

    #about #about-title {
        font-size: 3rem;
    }

    #about p {
        font-size: 1.5rem;
    }

    #about section {
        width: 100%;
        min-width: 250px;
    }
    
    .randomPage h1{
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 745px) {

    #about #about-title {
        font-size: 2rem;
        align-self: center;
    }

    #photome {
        align-self: center;
    }

    #about p {
        font-size: 1rem;
    }

    #about section {
        width: 100%;
        min-width: 250px;
    }
    
    .randomPage h1{
        font-size: 1rem;
    }

}

/* Project page: projects*/
#projects {
    width: 100%;
    height: auto;
    color: var(--color-4);
    padding: 10px;
    padding-bottom: 40px;
    background-color: var(--color-3);
    font-family: var(--font-family);
}

#projects h3, #projects h4, #projects p {
    text-align: center;
    color: var(--color-2);
}

#projects > h3 {
    font-size: 4rem;
}

#projects > h4 {
    font-size: 2rem;
}

#projects p {
    font-size: 1rem;
}

.projectsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1400px;
    background-color: var(--color-3);
    color: var(--color-4);
    padding: 20px 10px;
    margin: 0 auto;
    font-family: var(--font-family);
}

#projects img {
    width: 100%;
    max-width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 1px 5px 10px var(--color-1);
    transition: all 0.5s ease;
}

#projects img:hover {
    transform: scale(1.025);
    box-shadow: 2px 8px 10px var(--color-1);
}

@media (max-width: 1070px) {

    #projects h3, #projects h4 {
        font-size: 3rem;
    }

}

@media (max-width: 745px) {

    #projects h3, #projects h4 {
        font-size: 2rem;
    }

}

/* Contact page: contacts*/
#contacts {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-1);
}

#contacts h4 {
    font-family: var(--font-family), sans-serif;
    font-size: 4rem;
    text-align: center;
    color: var(--color-2);
}

#contactLogo {
    font-size: 3rem;
    padding: 10px;
    color: var(--color-2);
}

#contacts ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    
}

#contacts li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

#contacts a:hover {
    color: var(--color-3);
}

@media (max-width: 600px) {
    
    #contacts h4 {
        font-size: 1.5rem;
    }

}

.hidden {
    display: none;
}

.patch img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}