* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Knockout";
    src: url("../fonts/Knockout-Bold.ttf");
}

.travel-slot {
    width: 100%;
    height: auto;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.05) 1px, transparent 20px),
    radial-gradient(white, rgba(255,255,255,.08) 2px, transparent 25px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 40px 60px, 0 0, 5px 5px, 70px 100px, 200px 150px, 300px 50px;
}

.travel-place {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Knockout", sans-serif;
    background-image: linear-gradient(0deg,rgba(43, 43, 43, 1) 4%, rgba(173, 172, 170, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.travel-place h1 {
    font-size: 3rem;
}

.travel-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}

.travel-photos img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.travel-keychain {
    display: flex;
    position: absolute;
    align-self: center;
    justify-self: center;
}

#travel-keychain {
    width: 400px;
    height: auto;
    z-index: 1;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

@media (max-width: 500px) {

    #travel-keychain {
        width: 250px;
    }

    .travel-place h1 {
        font-size: 1.5rem;
    }

}