body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
}

h1 {
    font-size: 3.25em;
    line-height: 1;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

#img-div {
    background: white;
    margin: 0;
    padding: 10px;
}

#img-caption {
    color: black;
    margin: 15px 0px 5px 0;
    font-size: 1.1rem;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
}

#main {
    margin: 10px 5px;
    padding: 10px;
    background: #00338D;
    border: 5px solid #C60C30;
    border-radius: 25px;
    color: white;
}

#tribute-info li{
    margin: 50px 10px; 
}

#headline {
    margin: 50px 0;
    text-align: center;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

a, a:visited {
    color:#C60C30
}
